<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragments :: head(~{::title})">
  <title>友链管理</title>
</head>
<body>

<!--导航栏-->
<nav th:replace="admin/_fragments :: menu(3)" class="ui inverted gird-header" >
</nav>

  <div class="m-padded-tb-hugex">
  <div class="ui attached pointing menu">
    <div class="ui container">
      <div class="right menu">
        <a href="#" th:href="@{/admin/friendlinks/input}" class="item">新增</a>
        <a href="#" th:href="@{/admin/friendlinks}" class="teal active item">列表</a>
      </div>
    </div>
  </div>
  </div>

  <!--中间内容-->
  <div  class="m-padded-tb-big">
    <div class="ui container">
      <!--消息提示-->
      <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
        <i class="close icon"></i>
        <div class="" th:text="|提示： ${message}">提示：恭喜，操作成功！</div>
      </div>
      <table class="ui compact teal table">
        <thead>
          <tr align="center">
            <th>ID</th>
            <th>博客名称</th>
            <th>博客地址</th>
            <th>图片地址</th>
            <th>添加时间</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="friendlink,iterStat : ${pageInfo.list}" align="center" >
            <td th:text="${iterStat.count}">1</td>
            <td th:text="${friendlink.blogname}">ONESTAR</td>
            <td th:text="${friendlink.blogaddress}">https://onestar.newstar.net.cn/</td>
            <td th:text="${friendlink.pictureaddress}">https://onestar.newstar.net.cn/</td>
            <td th:text="${#dates.format(friendlink.createTime,'yyyy-MM-dd HH:mm')}">2020-01-02 09:45</td>
            <!--th:text="${#dates.format(message.createTime,'yyyy-MM-dd HH:mm')}"-->
            <td>
              <a href="#" th:href="@{/admin/friendlinks/{id}/input(id=${friendlink.id})}" class="ui mini teal basic button">编辑</a>
              <a href="#" th:href="@{/admin/friendlinks/{id}/delete(id=${friendlink.id})}" onclick="return confirm('确定要删除该友链吗？三思啊! 删了可就没了！')" class="ui mini red basic button">删除</a>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th colspan="6" >
              <div class="ui inverted divided stackable grid">
                <div class="three wide column" align="center">
                  <a th:href="@{/admin/friendlinks(pagenum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}">上一页</a>
                </div>

                <div class="ten wide column" align="center">
                  <p>第 <span th:text="${pageInfo.pageNum}"></span> 页，共 <span th:text="${pageInfo.pages}"></span> 页，有 <span th:text="${pageInfo.total}"></span> 个友链</p>
                </div>

                <div class="three wide column" align="center">
                  <a th:href="@{/admin/friendlinks(pageNum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}">下一页</a>
                </div>
              </div>

              <div align="center">
                <a href="#" th:href="@{/admin/friendlinks/input}">
                  <button type="button" class="ui teal button m-mobile-wide m-margin-top"><i class="pencil icon"></i>新增</button>
                </a>
              </div>

            </th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

  <br>
  <br>
<!--底部栏-->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive m-opacity">
  <!--容器-->
</footer>

<th:block th:replace="_fragments::script"></th:block>
<th:block th:replace="_fragments::countTime"></th:block>
  <script>



    $('.menu.toggle').click(function () {
      $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
      on : 'hover'
    });

    //消息提示关闭初始化
    $('.message .close')
      .on('click', function () {
        $(this)
          .closest('.message')
          .transition('fade');
      });
  </script>
</body>
</html>